
.btn{
    position: relative;
    padding: 15px 20px;
    background-color: #820ad1;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .5s;
}

button[type="submit"]{
    border: none;
    outline: none;
    background: #820ad1;
    color: #fff;
    width: 80%;
    padding: 8px 0 8px 15px;
    margin-top: 40px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover{
    letter-spacing: 4px;
}


.buttonsForm{
    margin-top: 40px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 7px #820ad1;
}

.buttonsForm button{
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 22px 30px;
}

.btnColor{
    position: absolute;
    width: 98px;
    height: 100%;
    border-radius: 50px;
    transition: .3s;
    background: linear-gradient(to right,#820ad1,#555b69);
}